* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 50%;
    min-height: 50vh;
    border: 1px solid black;
    padding: .5rem;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: dense;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
}

.display {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    grid-column: 1/-2;
}

.button {
    font-size: 2rem;
    font-weight: 600;
    padding: .8rem;
    background: none;
    border: 1px solid black;
    border-radius: .5rem;
}

.num {
    color: #fafafa;
    background-color: #1e2326;
    border-color: #1e2326;
}

.operator {
    grid-column: 4/-1;
    color: #fafafa;
    background-color: #5e4cb3;
    border-color: #5e4cb3;
}
.operator:hover, .num:hover, .equal:hover {
    opacity: 85%;
    cursor: pointer;
}

.div {    
    grid-row: 2/2;
}
.mul {
    grid-row: 3/3;
}
.min {
    grid-row: 4/4;
}

.equal {
    background-color: #f7c50c;
    border-color: #f7c50c;
}

@media (max-width: 758px) {
    .container {
        width: 100%;
        min-height: 100%;
        border: none;
    }
}